<div class="jumbotron">
<!--<%= link_to "about", about_path %>
<h1>Welcome to pinteresting app</h1> 
<p>sign up <%= link_to "here", "#" %></p> -->
<h1>Welcome to pinteresting app</h1> 
<% if user_signed_in? %>
# do something
<% else %>
<p>
	<%= link_to "login", new_user_session_path, class: "btn btn-primary btn-lg" %>
	<%= link_to "sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</p>
<% end %>
</div>